name: Packer
on:
  push:
      
jobs:
  packer:
    runs-on: ubuntu-latest
    name: packer

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      # validate templates
      - name: Validate Template
        uses: hashicorp/packer-github-actions@master
        with:
          command: validate
          arguments: -syntax-only
          target: images/aws-ubuntu-apache.pkr.hcl

      # build artifact
      - name: Build Golden Image
        uses: hashicorp/packer-github-actions@master
        with:
          command: build
          arguments: "-color=false -on-error=abort"
          target: images/aws-ubuntu-apache.pkr.hcl
        env:
          PACKER_LOG: 1

      # additional steps to process artifacts